#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: PA8
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

#[controller_fan controller_fan]
[heater_fan pi_fan]
##  Controller fan - FAN2
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 2.0
heater: extruder
heater_temp: 10.0
fan_speed: 0.5

# Uncomment after Filter fan has been added
[fan_generic exhaust_fan]
##  Exhaust fan - FAN3
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 2.0
off_below: 0.10

# # Uncomment after Internal Filter fan has been added
# [fan_generic internal_filter]
# ##  Exhaust fan - FAN3
# pin: PD13
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 2.0
# off_below: 0.10


#####################################################################
#  Macros
#####################################################################


[gcode_macro END_PRINT_EXHAUST]
# To be ran at the end of a print referencing the filament type
gcode:
  # Get the filament type
  {% set filament_type = params.FILAMENT_TYPE|default("PETG")|string %}

  {% if filament_type == "ABS" %}

    SET_DISPLAY_TEXT MSG="Exhausting fumes!"
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.6 ; turn on fan
    G4 P600000 ; dwell for (600) seconds
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0 ; turn off fan

  {% elif filament_type == "PETG" %}

    SET_DISPLAY_TEXT MSG="Exhausting fumes!"
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.8 ; turn on fan
    G4 P300000 ; dwell for (300) seconds
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0 ; turn off fan

  {% else %}

    SET_DISPLAY_TEXT MSG="Exhausting fumes!"
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.6 ; turn on fan
    G4 P60000 ; dwell for (60) seconds
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0 ; turn off fan
    
  {% endif %}  

  SET_DISPLAY_TEXT MSG="Fume Exhaust Complete!"
